@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.root {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 50px;
    font-family: 'Inter' !important;

}

.title {
    margin: 1em;
    font-size: 3rem;
    position: relative;
}

.titleContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.loadingBar {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    border: 0.8em solid white; /* Light grey */
    border-top: 0.8em solid transparent; /* Blue */
    border-radius: 50%;
    width: 4em;
    height: 4em;
    animation: spin 2s linear infinite;
}

.pythonTest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    color: white;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0 1em 0;
    font-family: 'Inter' !important;
}

.inputContainer input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Inter' !important;
}

.inputContainer input[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: white; /* Green */
  color: black;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 1em;
  font-family: 'Inter' !important;
}

.inputContainer input[type="submit"]:hover {
  filter: brightness(0.8);
}

.inputContainer label {
  display: block;

  font-size: 18px;
  font-family: 'Inter'
}

.interactionContainer {
    border: 1px solid white;
    padding: 1em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    font-family: 'Inter' !important;
}

.output {
  margin-bottom: 1em;
}

.tickerInput {
  border: 1px solid white;
    padding: 1em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    font-family: 'Inter' !important;
}

.tickerInput input, .tickerInput select, .tickerInput button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Inter' !important;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tickerInput button {
  padding: 10px 20px;
  border: none;
  background-color: white; /* Green */
  color: black;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 1em;
  font-family: 'Inter' !important;
}

.tickerInput button:hover {
  filter: brightness(0.8);

}

.mainBody {
  display: flex;
  justify-content: space-around;
  width: 50%;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
  font-family: 'Inter' !important;
}