@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.root {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 50px;

}

.title {
    margin: 1em;
    font-size: 3rem;
    position: relative;
}

.titleContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.loadingBar {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    border: 0.8em solid white; /* Light grey */
    border-top: 0.8em solid transparent; /* Blue */
    border-radius: 50%;
    width: 4em;
    height: 4em;
    animation: spin 2s linear infinite;
}

.pythonTest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    color: white;
}
